# Environments
.venv/
venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*.class
*.so
.pytest_cache/

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

# Jupyter / Checkpoints
.ipynb_checkpoints/

# LaTeX build artifacts
*.aux
*.log
*.synctex.gz
*.toc
*.out
*.bbl
*.blg
